REACT_APP_API_KEY='https://sfm2-api.trootechproducts.com/api/v1/'
REACT_APP_CLIENT_ID='875355918268-pabmj8umq9km8d10mb5tjd9ubdurm8to.apps.googleusercontent.com'
REACT_APP_SENTRY_KEY = 'https://7d622802ba944aa8b2a6510201ba4936@o935560.ingest.sentry.io/6587079'
REACT_APP_WS_URL = 'wss://sfm2-api.trootechproducts.com/ws/notification/'
REACT_APP_WS_URL1 = 'ws://192.168.0.15:8000/ws/notification/'
REACT_APP_BASE_URL='https://www.sourcefirms.com'
REACT_APP_API_KEY1='http://192.168.0.15:8000/api/v1/'
